/* --satoshi: "Satoshi", sans-serif;
--clash: "Clash Display", sans-serif;
--space: "Space Grotesk", sans-serif;
--cabinet: "Cabinet Grotesk", sans-serif; */

/* # fonts */
/* # variables */
/* # base */
/* # aos */
/* # theme img gray */
/* # page wrapper */
/* # container */
/* # img cover */
/* # line */
/* # section header */
/* # btn */
/* # social */
/* # video popup */
/* # form */
/* # accordion */
/* # preloader */
/* # logo */
/* # header */
/* # home */
/* # about */
/* # services */
/* # pricing */
/* # team */
/* # contact */
/* # footer */